---
import Layout from '@custom/layouts/LandingLayout.astro';
import { getLocaleByCode, useTranslation } from '~/lib/i18n/utils';
import { getLocalizedPathItems } from '~/lib/routing';

const locale = getLocaleByCode(Astro.currentLocale);
const t = await useTranslation(locale);

export const getStaticPaths = () => getLocalizedPathItems();
---

<Layout
	title={[t('custom.page.home.title')]}
	description={t('site.description')}
>
	<section class="m-4 min-h-[40rem] rounded-lg bg-base-200">
		<div class="container mx-auto p-4"></div>
	</section>
</Layout>
