---
type Props = {
	src: string;
	alt: string;
	caption: string;
};

const { src, alt, caption } = Astro.props;
---

<article class="group relative overflow-hidden rounded-lg bg-base-300 shadow">
	<img
		class="aspect-video rounded-lg transition-transform duration-700 ease-out group-hover:scale-105"
		src={src}
		alt={alt}
	/>
	<div
		class="absolute bottom-0 z-10 w-full rounded-b-lg bg-base-200/60 p-3 backdrop-blur"
	>
		{caption}
	</div>
</article>
