---
import { Image } from 'astro:assets';

type Props = {
	src: string;
	alt: string;
	caption: string;
};

const { src, alt, caption } = Astro.props;
---

<article class="group relative overflow-hidden rounded-lg bg-base-300 shadow">
	<!-- Assume image size is 1920x1080 -->
	<!-- [TODO) Use <Picture> and srcset after we move to our own image hosting service. -->
	<Image
		class="aspect-video rounded-lg"
		src={src}
		alt={alt}
		width={1920}
		height={1080}
		loading="eager"
	/>
	<div
		class="absolute bottom-0 z-10 w-full rounded-b-lg bg-base-200/60 p-3 backdrop-blur"
	>
		{caption}
	</div>
</article>
