---
import Layout from '@custom/layouts/LandingLayout.astro';
import OrderedAlbumCardsList from '~/custom/components/gallery/OrderedAlbumCardsList.astro';
import { getLocaleByCode, useTranslation } from '~/lib/i18n/utils';
import { getLocalizedPathItems } from '~/lib/routing';

const locale = getLocaleByCode(Astro.currentLocale);
const t = await useTranslation(locale);

export const getStaticPaths = () => getLocalizedPathItems();
---

<Layout
	title={[t('custom.page.gallery.title')]}
	description={t('site.description')}
>
	<div class="container mx-auto mt-12 p-4">
		<h1 class="my-2 text-4xl">{t('custom.page.gallery.title')}</h1>
		<p>{t('custom.page.gallery.desc')}</p>
	</div>

	<div class="container mx-auto flex flex-col gap-y-4 p-4">
		<OrderedAlbumCardsList />
	</div>
</Layout>
